<template name="Days_show">
  <div class="page days-show">
    <nav class="js-title-nav">
      <form class="js-input-new input-new input-symbol">
        <input type="text" placeholder={{_ 'Type to add new tasks'}}>
        <span class="icon-add js-input-add"></span>
      </form>
    </nav>


    <div class="content-scrollable day-items">
      {{#if inputsReady}}
        {{#each input in inputs}}
          {{> Inputs_item (inputArgs input)}}
        {{else}}
          <div class="wrapper-message">
            <div class="title-message">{{_ 'No tasks here'}}</div>
            <div class="subtitle-message">{{_ 'Add new tasks using the field above'}}</div>
          </div>
        {{/each}}
      {{else}}
          <div class="wrapper-message">
            <div class="title-message">{{_ 'Loading tasks...'}}</div>
          </div>
      {{/if}}
    </div>
  </div>
</template>
