<template name="Days_show">
  <div class="page days-show">
    <nav class="js-title-nav">
      <div class="nav-group">
        <a href="#" class="js-menu nav-item">
          <span class="icon-list-unordered">X</span>
        </a>
      </div>
      <form class="weight">
      {{#if inputsReady}}
        {{date}}'s Weight:
        <input type="text" class='weightInput' placeholder="{{_ 'Weight'}}" value="{{weight}}">
      {{/if}}
      </form>
      <form class="js-input-new input-new input-symbol">
        <input type="text" class='inputsInput' placeholder={{_ 'Type to add new foods'}}>
        <span class="icon-add js-input-add"></span>
      </form>
    </nav>


    <div class="content-scrollable day-items">
      {{#if inputsReady}}
        {{#each input in inputs}}
          {{> Inputs_item (inputArgs input)}}
        {{else}}
          <div class="wrapper-message">
            <div class="title-message">{{_ 'No foods'}}</div>
            <div class="subtitle-message">{{_ 'Add new foods using the field above'}}</div>
          </div>
        {{/each}}
      {{else}}
          <div class="wrapper-message">
            <div class="title-message">{{_ 'Loading foods...'}}</div>
          </div>
      {{/if}}
    </div>
  </div>
</template>
