<template name="App_body">
  {{#HammerTouchArea gestureMap=templateGestures}}
    <div id="container" class="{{menuOpen}} {{cordova}}">
      <section id="menu">
        {{#if currentUser}}
          <div class="btns-group-vertical">
            <a href="#" class="js-user-menu btn-secondary">
              {{#if userMenuOpen}}
                <span class="icon-arrow-up"></span>
                {{else}}
                <span class="icon-arrow-down"></span>
              {{/if}}

              {{emailLocalPart}}
            </a>
            {{#if userMenuOpen}}
              <a href='/' class="btn-secondary">{{_ 'Home'}}</a>
              <a href='/export' class="btn-secondary">{{_ 'Export'}}</a>
              <a class="js-logout btn-secondary">{{_ 'Logout'}}</a>
            {{/if}}
          </div>
        {{else}}
          <div class="btns-group">
            <a href="{{pathFor 'signin'}}" class="btn-secondary">{{_ 'Sign In'}}</a>
            <a href="{{pathFor 'join'}}" class="btn-secondary">{{_ 'Join'}}</a>
          </div>
        {{/if}}

        <div class="day-inputs">
            <a href="{{pathFor 'Days.show' date=date}}" title="{{date}}"
                class="day-input {{activeDayClass date}}">
                {{date}}
            </a>
            <a href="{{pathFor 'Days.show' date=date1}}" title="{{date1}}"
                class="day-input {{activeDayClass date1}}">
                {{date1}}
            </a>
            <a href="{{pathFor 'Days.show' date=date2}}" title="{{date2}}"
                class="day-input {{activeDayClass date2}}">
                {{date2}}
            </a>
        </div>
      </section>

      {{#unless connected}}
        <div class="notifications">
          <div class="notification">
            <span class="icon-sync"></span>
            <div class="meta">
              <div class="title-notification">Trying to connect</div>
              <div class="description">There seems to be a connection issue</div>
            </div>
          </div>
        </div>
      {{/unless}}

      <div class="content-overlay"></div>

      <div id="content-container">
        {{#momentum plugin="fade"}}
          {{#if Template.subscriptionsReady}}
            {{> Template.dynamic template=main}}
          {{else}}
            {{> App_loading}}
          {{/if}}
        {{/momentum}}
      </div>
    </div>
  {{/HammerTouchArea}}
</template>
